extends layout
block content
    .box
        #title-bar.no-margins
            h1.title.no-margins Neuron
        .neuron-wrapper
            .neuron-panel.center
                h4.subtitle Configuration
                p.center Double click to create a new neuron
                p.center Shift + drag to link two neurons
                p.center Click and drag neurons to move them
                p.center Right click to delete nodes
                h4.subtitle Bias:
                #neuron-panel-bias.center
                h4.subtitle Weights:
                #neuron-panel-weights.center
                button.center#compute-button Compute
            .neuron-container#neuron
